* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    border: 3px solid black;
    height: 70px;
}

.wrapp {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
}

.menu {
    border: 2px solid black;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}
