body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url("https://images.unsplash.com/photo-1699803810595-1daa30d037d2?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body h1 {
    display: none;
  }
}
